* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans",
  "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*.sidre-header-logo {*/
/*  width: 88px !important;*/
/*}*/
/*.sidre-header-title {*/
/*  display: none !important;*/
/*}*/

/* Card */
.resource-card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resource-card-subtitle .resource-card-subtitle2 {
  min-height: 19px;
}
/* Minimal height of all cards */
.resource-card-title {
  min-height: 48px;
}
.resource-card-header-link {
  min-height: 236px;
}
.resource-card-infos {
  min-height: 160px;
}
.resource-card-actions {
  min-height: 62px;
}

/* Search Field */
svg.search-icon {
  fill: var(--bs-primary) !important;
  height: 1em;
}
/* workaround: suggestion-list for "no suggestion" remains with white background in reactivesearch-dark-mode */
.search-component-dark li {
  background-color: rgb(66,66,66);
}
/* workaround: suggestion-list uses light-mode scrollbars in reactivesearch-dark-mode */
.search-component-dark ul {
  scrollbar-color: grey rgb(66,66,66);
}
.search-component-input {
  border-radius: 2em;
}
.search-component-main {
  font-size: 1rem;
  min-height: 42px;
  line-height: 1.5;
}
.search-component .input-group {
  box-shadow: unset;
}
.search-component-main:focus {
  border-color: #ccc;
  box-shadow: 0 0 0 0.2rem rgba(232, 97, 97, 0.25);
}
[data-bs-theme=dark] .search-component-main {
  border-color: #666;
}
.search-icon-wrapper {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0 10px;
  border: transparent;
  background-color: transparent;
}
