.toast__container {
  display: table-cell;
  vertical-align: middle;
  background-color: transparent;
  color: white;
}

.toast__cell {
  display: inline-block;
}

.add-margin {
  margin-top: 20px;
}

.toast__svg {
  fill: #fff;
}

.toast {
  text-align: left;
  border-radius: 4px;
  max-width: 500px;
  top: 0px;
  position: relative;
}

.toast__icon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  padding: 7px;
  border-radius: 50%;
  display: inline-block;
}

.toast__type {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast__message {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.toast__content {
  padding-left: 70px;
  padding-right: 60px;
}

.toast__close {
  position: absolute;
  right: 22px;
  top: 50%;
  width: 14px;
  cursor: pointer;
  height: 14px;
  fill: #d2d2d2;
  transform: translateY(-50%);
}

.toast--green .toast__icon {
  background-color: #2bde3f;
}

.toast--green:before {
  background-color: #2bde3f;
}
