.react-cookie-law-dialog {
  height: 0%;
  top: auto !important;
  background-color: #232323 !important;
  color: #fff;
  bottom: 0px !important;
  position: fixed !important;
  width: 100%;
  -moz-animation: inAndOut 1s ease-in forwards;
  -webkit-animation: inAndOut 1s ease-in forwards;
  animation: inAndOut 1s ease-in forwards;
}

.react-cookie-law-msg,
.react-cookie-law-policy {
  color: #ffffff !important;
}

.react-cookie-law-accept-btn {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: red !important;
  border-color: red;
}

.react-cookie-law-button-wrapper {
  float: right;
  margin-top: -5%;
}
.react-cookie-law-accept-btn:hover {
  opacity: 1;
}
.react-cookie-law-accept-btn > span {
  color: #ffffff !important;
}

@keyframes inAndOut {
  0% {
    height: 1%;
  }
  5% {
    height: 3%;
  }
  20% {
    height: 5%;
  }
  40% {
    height: 7%;
  }
  60% {
    height: 9%;
  }
  80% {
    height: 10%;
  }
  100% {
    height: 13%;
  }
}
