.cardShow {
  height: 24%;
  /* overflow: auto; */
}

.card-img {
  width: 40% !important;
}

.stats {
  margin-left: 50px;
}

ul > li > label > span {
  margin-right: 5%;
}

.card-title {
  color: cadetblue;
}

.card-footer {
  padding: 0.75rem 1.25rem !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}
