.card-card-root {
  width: 100%;
  margin-top: 3%;
  box-shadow: 9px 10px 20px -10px #3f4a4d !important;
}

.card-margin-top {
  margin-top: 10px !important;
}

.card-card-header {
  text-align: center;
}

.card-card-header-link {
  font-size: 20px !important;
  color: #606668 !important;
  font-weight: 700;
}

.card-card-author {
  padding: 6% 5%;
  font-size: 15px !important;
  font-weight: 600;
}

.card-card-license {
  padding-top: 5%;
  text-align: right;
  font-size: 15px !important;
}

.card-card-media {
  height: 0;
  padding-top: 56.25%;
  margin-left: 2%;
}

.card-card-grid-container {
  margin-top: -10px;
}

.card-subject {
  margin-left: 10px;
  font-size: 14px;
}
.card-card-content {
  padding: 0 !important;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 14px;
}

.card-card-typografi-h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans",
    "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.card-card-chip-root {
  width: 100%;
}
.card-card-chip-root > * {
  margin: 1%;
  background-color: transparent !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.about-card-chip-root {
  padding-left: 4px;
  font-size: 15px;
}

.MuiChip-root {
  color: #a18282 !important;
}
