/*-------------------------*/
/*          HEADER         */
/*-------------------------*/

header {
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  width: 97%;
  margin-left: 1%;
  margin-top: 5px;
  box-shadow: 9px 10px 20px -10px #3f4a4d;
  border-radius: 10px;
}

header > div {
  color: #606668;
}
header > div > p {
  font-size: 20px;
}
