/*-------------------------*/
/*          HEADER         */
/*-------------------------*/

.navbar {
  box-shadow: 9px 10px 20px -10px #3f4a4d;
}
.navbar-expand-lg {
  background-color: #fff !important;
}

.card-img {
  width: 50px !important;
  height: 50px !important;
}

.header-navbar-h2 {
  font-size: 2em;
}
