svg.search-icon {
  fill: #e86161 !important;
  height: 1.2em;
}

.search-component {
  font-size: 13px;
}

.search-component-input {
  border-radius: 1em;
  font-size: 1rem !important;
}

.search-component-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 97, 97, 0.25);
}
