/* TODO: this global styles do not fit very well into the complete look&feel => replace by a better solution */

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans",
    "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
    font-size: 13px !important;
    line-height: 24px !important;
    vertical-align: baseline !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-variant: normal !important;
    text-decoration: none solid rgba(24, 28, 43) !important;
}

body {
    margin: 0;
}

.full-width {
    width: 100%;
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: stretch;
}

/* styling for scrollbar */

::-webkit-scrollbar {
    width: 13px;
    height: 5px;
}

::-webkit-scrollbar:hover {
    height: 50px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #ccc),
            color-stop(100%, #ccc)
    );
    border: 1px solid #0d0d0d;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #ccc),
            color-stop(100%, #ccc)
    );
    border: 1px solid #1f1f1f;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-radius: 50px;
}
