.render-result {
  width: 80%;
  text-align: left;
}

.ant-pagination {
  text-align: center;
  background-color: white;
  box-shadow: 9px 10px 20px -10px #3f4a4d;
  padding-bottom: 10px !important;
}

.ant-pagination-total-text {
  display: list-item !important;
}
