
.filter-heading {
  color: #606668;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.multilist {
  -webkit-box-shadow: 9px 10px 20px -10px #516c74;
  box-shadow: 9px 10px 20px -10px #3f4a4d;
  border-radius: 8px;
  margin-bottom: 5%;
  background-color: white;
}

.multilist-span {
  font-size: 14px;
  /* color: black; */
  font-weight: 600;
}

.multilist-body-span >span {
  font-size: 14px;
}

.multilist-checkbox{
  margin-left: 2%;
  /* border: 0; */
  clip: auto !important;
  clip-path: none !important;
  height: 15px !important;
  position: inherit !important;
  width: 20px !important;
}
